body {
  background: white;
}

h1 {
  font-size: 50px;
  margin-left: 20%;
}

h2 {
  font-size: 30px;
  color: black;
  margin-left: 30%;
}

p {
  margin-left: 20%;
  font-size: 20px;

}


.hobbies{

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 20px;
color:#6C0FE3;
margin-top: 20px;
margin-left: 50%;
}

.jumbotron {
  color: #2c3e50;
}
.thumbnail{
  font-family: monospace;
  font-size: 10px;
}
#jumbomovies{
  text-align: 300%;
}

marquee {
  font-family: monospace;
  font-size: 17px;
}